.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule h3 {
  margin-bottom: 2rem;
}

.schedule-details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 2em;
  border-radius: 2em;
  padding: 0.8rem 1rem;
  background-color: var(--cons-mint);
}

.schedule-details svg {
  font-size: 1.5rem;
  margin-right: 1rem;
}

@media (max-width: 1279px) {
  .schedule-details p {
    font-size: 1rem;
  }
}

@media (max-width: 959px) {
  .schedule-details {
    width: 80%;
    display: flex;
    justify-content: left;
  }
  .schedule-details p {
    width: 80%;
    font-size: 1.3rem;
    flex-grow: 4;
  }

  .schedule-details svg {
    margin-left: 15%;
    font-size: 1.3rem;
  }
}

@media (max-width: 599px) {
  .schedule-details svg {
    font-size: 1rem;
  }

  .schedule-details p {
    font-size: 1rem;
  }
}

/* Custom Breakpoint */
@media (max-width: 432px) {
  .schedule-details svg {
    font-size: 1rem;
    margin-left: 10%;
  }

  .schedule-details p {
    font-size: 0.9rem;
  }
}
