.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule h3 {
  margin-bottom: 2rem;
}

.schedule-details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 1.5em;
  border-radius: 2em;
  padding: 1rem;
}

.schedule-details svg {
  fill: var(--text-color);
  width: 1.2em;
  margin-right: 1rem;
}

@media (max-width: 1279px) {
  .schedule-details p {
    font-size: 1rem;
  }
}

@media (max-width: 959px) {
  .schedule-details {
    margin: 0.8em 3em;
    padding: 1rem 15%;
    display: flex;
    justify-content: left;
  }
  .schedule-details p {
    font-size: 1.3rem;
  }
}

@media (max-width: 599px) {
  .schedule-details {
    margin: 0.5em 1.5em;
  }

  .schedule-details p {
    font-size: 1rem;
  }
}

/* Custom Breakpoint */
@media (max-width: 500px) {
  .schedule-details {
    margin: 0.5em 1em;
  }

  .schedule-details p {
    font-size: 0.9rem;
  }
}
