
.multi-gender {
    fill: var(--hero-gender);
}

.multi-trapezoid {
    stop-color: var(--hero-trapezoid);
}

.multi-trapezoid-end {
    stop-color: var(--hero-trapezoid-end);
}

.multi-fist-color {
    fill: #BD7A4E;
    animation: multi-fist 5s infinite;
}

iframe {
    width: 100%;
    min-height: max-content;
}

@keyframes multi-fist {
    0% {
        fill: #c48f6c;
    }
    33% {
        fill: #5a3e2a;
    }
    45% {
        fill: #a07556;
    }
    66% {
        fill: #f5d3bd;
    }
    100% {
        fill: #c48f6c;
    }
}

