.team-cards .profile {
  margin-top: 0.5em;
  padding: 2em;
  display: inline;
}

.team-cards-img-container {
  width: 175px;
  height: 175px;
  margin: auto;
}

.team-cards .profile img {
  border-radius: 50%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
}

.team-cards .profile:hover img {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
}

.team-cards-text {
  height: 4.5em;
  max-width: 275px;
  margin: 5px auto;
  padding: 20px 0;
}

.team-cards-contact-btns-row {
  display: flex;
  justify-content: center;
  height: 3em;
}
