.team-cards .profile {
  margin-top: 0.5em;
  padding: 2em;
}
.team-cards-img-container {
  width: 60%;
  height: 60%;
  margin: 0.5em 20%;
}

.team-cards .profile img {
  border-radius: 50%;
  
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  
}

.team-cards .profile:hover img {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
}

.team-cards-text {
  height: 4.5em;
  padding-top: 10px;
}

.team-cards-contact-btns-row {
  display: flex;
  justify-content: center;
  height: 3em;
}
