.social-btn-container {
  transition: var(--transition);
}

.social-btn-container:hover {
  transition: var(--transition);
  margin-top: -0.4rem;
}

.social-btn,
.social-btn:focus,
.social-btn:active {
  margin: 0 0.3em;
  border-radius: 50%;
  color: var(--primary-accent-color);
  background-color: var(--bg-color);
  width: 3em;
  height: 3em;
  opacity: 0.8;
  transition: var(--transition);
}

.social-btn:hover {
  color: var(--bg-color);
  background-color: var(--primary-accent-color);
  opacity: 1;
}

.social-btn svg, .social-btn i::before {
  font-size: 1.4rem;
}
