.newsletter-alert {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.newsletter-form {
    background-color: var(--card-material);
    padding: 4px;
    border-radius: 40px;
    padding-left: 15px;
    width: fit-content;
}

.newsletter-form button {
    color: var(--contrast-text);
    padding: 8px 10px;
    background: var(--link-color);
    border-radius: 30px;
}

.newsletter-form input {
    background: none !important;
    text-decoration: none !important;
    outline: none !important;
    color: var(--link-hover) !important;
}

@media(max-width: 959px) {
    .newsletter-alert {
        align-items: center;
    }
}