:root {
  /* Media Query Breakpoints (Based on Material UI)
  xs, extra-small: 0px
  sm, small: 600px => @media (max-width: 599px)
  md, medium: 960px ("Small Screen") => @media (max-width: 959px)
  lg, large: 1280px => @media (max-width: 1279px)
  xl, extra-large: 1920px => @media (min-width: 1920px)
*/

  /* Measurements */
  --navbar-height: 5em;
  --border-radius: 30px;
  --transition: 0.5s;

  /* Brand Colors */
  --command-line: #1e1e1e;
  --justice-jade: #088980;
  --cons-mint: #c7dfdf;
  --power-to-the-pine: #0a1c18;
  --dark-mode: #3b4344;
  --bottlenose: #606464;
  --code-comment: #c6c6c5;
  --racket-white: #ffffff;

  /* Web Colors */

  /* Other Colors */
  --box-shadow-color: rgba(0, 0, 0, 0.15);
}

/* Color Schemes */
body {
  --bg-color: #ffffff;
  --lg-h-color: #1e1e1e;
  --md-h-color: #7b7b7b;
  --text-color: #3b4344;
  --link-color: #088980;
  --primary-accent-color: #00aea4;
  --secondary-accent-color: #0c696f;
  --secondary-hover-color: #0c696f;
  --transparent-color: #eaf6f6;
  --footer-color: linear-gradient(
    180deg,
    rgba(244, 255, 255, 0) 0%,
    #f4ffff 21.35%
  );
}

body.dark {
  --bg-color: #1e1e1e;
  --lg-h-color: #ffffff;
  --md-h-color: #c6c6c5;
  --text-color: #ffffff;
  --link-color: #00aea4;
  --primary-accent-color: #0c696f;
  --secondary-accent-color: #00aea4;
  --secondary-hover-color: #bce5e5;
  --transparent-color: #253938;
  --footer-color: linear-gradient(
    180deg,
    rgba(30, 58, 57, 0) 0%,
    #1e3a39 21.35%
  );
}

/* Layout */
.full-width {
  position: relative;
  width: 100vw;
  margin-left: -50vw;
  height: auto;
  left: 50%;
}

body {
  background-color: var(--bg-color);
  transition: var(--transition);
}

@media (max-width: 599px) {
  /* Material UI Container Edits */
  .MuiContainer-root {
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
  }
}

/* Typography */
body {
  font-family: 'Nunito', sans-serif;
  color: var(--text-color);
}

body.dark {
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  font-family: 'Suez One', sans-serif;
  letter-spacing: 1.5px;
  /* font-weight: 800; */
}

h3,
h4,
h5 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 2.75rem;
  color: var(--lg-h-color);
}

h2 {
  font-size: 2.25rem;
  color: var(--md-h-color);
}

h3 {
  font-size: 1.75rem;
  color: var(--md-h-color);
}

h4 {
  font-size: 1.3rem;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.65rem;
}

a,
a:focus,
a:visited,
a:active {
  color: var(--link-color);
}

@media (max-width: 959px) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  p {
    font-size: 1rem;
  }
}

.uppercase-font {
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.pretty-font {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  text-transform: lowercase;
  font-weight: 500;
  color: var(--primary-accent-color);
}

/* Cards */
.card {
  padding: 1.5em;
  border-radius: var(--border-radius);
  transition: var(--transition);
  background-color: var(--transparent-color);
  box-shadow: 0 3px 6px var(--box-shadow-color);
  -moz-box-shadow: 0 3px 6px var(--box-shadow-color);
  -webkit-box-shadow: 0 3px 6px var(--box-shadow-color);
}
