.greeting {
  font-size: x-large;
  font-weight: 600;
}

.hero-text {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto 0;
}

.multi-large {
  font-size: 60pt;
  font-weight: 700;
}

.hero-caption {
  color: var(--md-h-color);
  font-size: 20pt;
  padding-bottom: 30px;
}

.mission-statement {
  padding: 100px 0;
  max-width: 700px;
  margin: auto;
}

.right-arrow {
  padding-left: 10px;
}

.arrow {
  fill: var(--link-color);
}

.pretty-link:hover {
  color: var(--link-color);
  text-decoration: underline;
}

.video {
  width: 100%;
  min-height: max-content;
}
