/* Cutom Resets */
* {
  box-sizing: inherit;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}