header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
  max-height: var(--navbar-height);
  background-color: grey;
  transition: background 0.3s, box-shadow 0.3s;
}

.navbar-header-styled {
  z-index: 2;
  background-color: lightgreen;
  box-shadow: 2px 6px 6px 0 var(--box-shadow-color);
  -moz-box-shadow: 2px 6px 6px 0 var(--box-shadow-color);
  -webkit-box-shadow: 2px 6px 6px 0 var(--box-shadow-color);
}

.navbar-header-layout {
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  height: 4em;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  padding: 0 1rem;
}

.navbar-vegan-burger {
  display: none;
}

.navbar-vegan-burger:active {
  transform: scale(0.5);
}

@media (max-width: 959px) {
  nav {
    position: fixed;
    flex-direction: column;
    background: lightgray;
    top: var(--navbar-height);
    margin-top: -1px;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 60%;
    box-shadow: -3px 0 2em 0 var(--box-shadow-color);
    -moz-box-shadow: -3px 0 2em var(--box-shadow-color);
    -webkit-box-shadow: -3px 0 2em var(--box-shadow-color);
  }

  .navbar-vegan-burger {
    display: block;
    cursor: pointer;
    padding: 0.5em 0;
    fill: black;
    border: none;
    background: none;
    outline: none;
    width: 3em;
    height: 3em;
    transition: 0.1s;
  }

  .nav-navbar-transition-enter,
  .nav-navbar-transition-appear {
    width: 0;
    opacity: 0;
    color: transparent;
    background-color: grey;
  }

  .nav-navbar-transition-enter-active,
  .nav-navbar-transition-appear-active {
    width: 60%;
    opacity: 1;
    background-color: lightgray;
    transition: all 400ms;
  }

  .nav-navbar-transition-exit {
    width: 60%;
    opacity: 1;
    background-color: lightgray;
  }

  .nav-navbar-transition-exit-active {
    width: 0;
    opacity: 0;
    color: transparent;
    background-color: grey;
    transition: all 400ms;
  }
}
