.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  backdrop-filter: saturate(100%) blur(20px);
  -webkit-backdrop-filter: saturate(100%) blur(20px);
  background-color: var(--blur-material);
  transition: var(--transition);
}

.navbar-styled {
  background-color: var(--header-material);
}

.navbar-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-header {
  display: flex;
}

.navbar-header-burger {
  display: none;
}

.navbar-header-logo {
  padding: 1em 0;
}

.navbar-header-logo svg {
  width: 12em;
  padding-right: 2em; /*to center, offset by nav-header-burger width*/
}

/* .navbar-theme-btn {
  width: 2.5em;
  height: 2.5em;
  margin: 0 1em;
  padding: 0.6em;
  opacity: 0.8;
  transition: var(--transition);
}

.navbar-theme-btn path {
  fill: var(--lg-h-color);
}

.navbar-theme-btn:active {
  transform: scale(0.5);
} */

nav {
  display: flex;
}

nav a {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0 1rem;
}

@media (max-width: 959px) {
  .navbar-layout {
    display: inline;
  }

  .navbar-header-burger {
    display: flex;
    fill: var(--lg-h-color);
    width: 2em; /*add this value as padding-right to navbar-header-logo*/
    transition: 0.1s;
    margin: auto 0;
    height: 50px;
  }

  .navbar-header-burger:active {
    transform: scale(0.5);
  }

  .navbar-header-logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  .navbar-link {
    margin: 1.5rem 1rem;
  }
}
