main {
  margin-top: var(--navbar-height);
  padding-top: 1em; /* 5em-Navbar height */
  padding-bottom: 5em;
}

.layout-inner-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 959px) {
  .layout-inner-content-blur {
    background-color: rgba(0, 0, 0, 0.4);
    filter: blur(3px) brightness(0.4);
    -webkit-filter: blur(3px) brightness(0.5);
    -moz-filter: blur(3px) brightness(0.5);
    -o-filter: blur(3px) brightness(0.5);
    -ms-filter: blur(3px) brightness(0.5);
  }
}
