.large-event-sections {
    display: flex;
    flex-direction: row;
    padding: 30px;
    padding-top: 40%;
}

.large-event-date {
    position: relative;
    padding-right: 100px;
    width: 100px;
}

.large-event-date-content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 20px;
}

.large-event {
    width: 80%;
    max-width: 800px;
    background: var(--multi-logo-accent);
    border-radius: 60px;
    overflow: hidden;
}

.large-event-title {
    padding-bottom: 10px;
}

.large-event-title h4 {
    font-size: 20pt;
}

.large-event-gradient {
    background: var(--event-gradient);
}